#cartas{
background-color: chocolate;
height: 105px;
width: 140px;
margin-left: 5%;
margin-right: 2%;
}
#puntaje{
    background-color: darkkhaki;
    height: 25px;
    width: 45px;
    margin-left: 83%;
    position: relative;
}
#botones{
    background-color: darkolivegreen;
    height: 35px;
    margin-top: auto;
    width: 45px;
    margin-left: 83%;
    position: relative;
}